@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-shape-divider-top-1719544195 {
    position: relative; /* Change from absolute to relative */
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  
  .custom-shape-divider-top-1719544195 svg {
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
  }
  
  .custom-shape-divider-top-1719544195 .shape-fill {
    fill: #E5E7EB;
  }
  
  html {
    scroll-behavior: smooth;
  }